.task--alert {
	gap: 1.6rem;
	display: flex;
	flex-direction: column;
}
.task--alert p {
	color: #edf2f4;
	font-size: 1.6rem;
	position: relative;
	text-align: center;
	line-height: 2.4rem;
}
