.task--button {
	all: unset;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	border-radius: 0.4rem;
}
.task--button div {
	width: 100%;
	height: 100%;
	background: #2892d7;
}
.task--button div span {
	width: 120%;
	height: 100%;
	position: absolute;
	transition: all 0.4s;
	background: #1d70a2;
	transform: translate(-100%);
	clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
}
.task--button:hover div span {
	transform: translate(-10%);
}
.task--button div p {
	display: flex;
	padding: 1.2rem;
	color: #edf2f4;
	font-weight: bold;
	font-size: 1.6rem;
	position: relative;
	line-height: 2.4rem;
	justify-content: center;
	text-transform: uppercase;
}
