.task--list-item {
	display: flex;
	padding: 1.2rem;
	overflow: hidden;
	position: relative;
	transition: all 0.4s;
	border-radius: 0.4rem;
	align-content: center;
	background-color: #2892D7;
	justify-content: space-between;
	box-shadow: 0 0.2rem 1.2rem 0.4rem rgb(0 0 0 / 14%);
}
.task--list-item div {
	top: 0;
	width: 120%;
	height: 100%;
	position: absolute;
	transition: all 0.4s;
	background: #1D70A2;
	transform: translate(-120%);
	clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
}
.task--list-item.task--list-completed div {
	transform: translate(-10%);
}
.task--list-item p {
	color: #edf2f4;
	font-size: 1.6rem;
	position: relative;
	line-height: 2.4rem;
}
.task--list-item span {
	display: flex;
	cursor: pointer;
	color: #edf2f4;
	font-size: 2.4rem;
	position: relative;
	line-height: 3.2rem;
	align-items: center;
	transition: all 0.4s;
}
.task--list-item span:hover {
	transform: scale(1.2);
}
