.task--form {
	gap: 2.4rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.task--form-container {
	gap: 0.8rem;
	display: flex;
	flex-direction: column;
}
.task--form-container div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.task--form-container h2 {
	color: #e6e8e6;
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 3.2rem;
}
.task--form-container h2 strong {
	color: #2892D7;
}
.task--form-container span {
	display: flex;
	cursor: pointer;
	color: #2892D7;
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 3.2rem;
	align-items: center;
	transition: all 0.4s;
}
.task--form-container span:hover {
	transform: scale(1.2);
}
.task--form-container textarea {
	resize: none;
	padding: 1.2rem;
	color: #edf2f4;
	font-size: 1.6rem;
	line-height: 2.4rem;
	border-radius: 0.4rem;
	background-color: transparent;
	border: 0.2rem solid #2892D7;
	transition: border 0.4s ease-in-out;
	box-shadow: 0 0.2rem 1.2rem 0.4rem rgb(0 0 0 / 14%);
}
.task--form-container textarea:focus {
	border: 0.2rem solid #1D70A2;
}
.task--form-container textarea::placeholder {
	color: #edf2f4;
}
.task--form-button {
	all: unset;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	border-radius: 0.4rem;
}
.task--form-button div {
	width: 100%;
	height: 100%;
	background: #2892D7;
}
.task--form-button div span {
	width: 120%;
	height: 100%;
	position: absolute;
	transition: all 0.4s;
	background: #1D70A2;
	transform: translate(-100%);
	clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
}
.task--form-button:hover div span {
	transform: translate(-10%);
}
.task--form-button div p {
	display: flex;
	padding: 1.2rem;
	color: #edf2f4;
	font-weight: bold;
	font-size: 1.6rem;
	position: relative;
	line-height: 2.4rem;
	justify-content: center;
	text-transform: uppercase;
}
.task--form h4 {
	color: #1D70A2;
	font-weight: bold;
	font-size: 2.4rem;
	text-align: center;
	line-height: 3.2rem;
}
