.task--search {
	gap: 0.8rem;
	display: flex;
	flex-direction: column;
}
.task--search-counter {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.task--search-counter h1 {
	color: #e6e8e6;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 3.2rem;
}
.task--search-counter h3 {
	font-size: 2rem;
	color: #e6e8e6;
	font-weight: bold;
	line-height: 2.8rem;
}
.task--search-counter h1 span,
.task--search-counter h3 span {
	color: #ef233c;
}
.task--search-input {
	padding: 1.2rem;
	color: #edf2f4;
	font-size: 1.6rem;
	line-height: 2.4rem;
	border-radius: 0.4rem;
	background-color: transparent;
	border: 0.2rem solid #ef233c;
	transition: border 0.4s ease-in-out;
	box-shadow: 0 0.2rem 1.2rem 0.4rem rgb(0 0 0 / 14%);
}
.task--search-input:focus {
	border: 0.2rem solid #d90429;
}
.task--search-input::placeholder {
	color: #edf2f4;
}
